{
  "extends": [
    "./node_modules/kcd-scripts/eslint.js",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "one-var": ["error", "never"],
    "prefer-const": "warn",
    "@typescript-eslint/no-shadow": "off",
    "@typescript-eslint/no-invalid-void-type": "off"
  },
  "overrides": [
    {
      "files": ["*.test.ts"],
      "rules": {
        "@typescript-eslint/no-unsafe-member-access": "off",
        "@typescript-eslint/ban-ts-comment": "off"
      }
    }
  ]
}
